{% extends 'Blog/index.html' %}
{% block index %}
{% endblock %}

{% block list_content %} {% endblock %}


{% block tags %}
<div class="row bottom tags-wrap">
            <div class="col-full tags">
                <h3>Tags Filter</h3>
{% for post in post %}
            {% for tags in tags %}
                    <a href="{% url 'blog:tagdet' slug=post.slug %}">{{ tags.title }}</a>
                {% endfor %}
{% endfor %}

            </div> <!-- end tags -->
        </div> <!-- end tags-wrap -->

{% endblock %}